/* CSS Geral */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}

body {
  background-color: #242940;
  color: #fff;
}
.hide {
  display: none !important;
}

#main-title {
  padding: 40px 0px;
  text-align: center;
  background-color: #2d425a;
  border-radius: 0px 0px 80px 80px;
}

/* SCORE CONATAINER */

#score-container {
  background-color: #cddde8;
  color: #000;
  text-align: center;
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 20px;
}

#congratulations {
  color: rgb(4, 65, 4);
}

#score-container p {
  font-size: 14px;
  margin: 20px 0px;
}

#score-container #display-score {
  font-size: 32px;
  margin-top: 5px;
  font-weight: bold;
  color: rgb(
    32,
    216,
    32
  ); /*se for de 0 a 50% colocar cor vermelha se não 51 a 100% deixa cor verde*/
}

#score-container #correct-answers {
  font-weight: bold;
  color: rgb(
    32,
    216,
    32
  ); /*se for de 0 a 50% colocar cor vermelha se não 51 a 100% deixa cor verde*/
}

#score-container #questions-qty {
  color: rgb(0, 32, 214);
  font-weight: bold;
}

#restart {
  background: #e78230;
  color: #fff;
  font-weight: bold;
  border: none;
  padding: 14px 16px;
  border-radius: 25px;
  font-size: 16px;
  margin-top: 10px;
  border: 2px solid transparent;
  cursor: pointer;

  transition: 0.3s;
}

#restart:hover {
  background: transparent;
  border: 2px solid #e78230;
  color: #e78230;
}
