/* CSS Geral */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}

body {
  background-color: #242940;
  color: #fff;
}
.hide {
  display: none !important;
}

#main-title {
  padding: 40px 0px;
  text-align: center;
  background-color: #2d425a;
  border-radius: 0px 0px 80px 80px;
}

/* SCORE CONATAINER */

#score-container {
  background-color: #cddde8;
  color: #000;
  text-align: center;
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 20px;
}

#congratulations {
  color: rgb(4, 65, 4);
}

#score-container p {
  font-size: 14px;
  margin: 20px 0px;
}

#score-container #display-score {
  font-size: 32px;
  margin-top: 5px;
  font-weight: bold;
  color: rgb(
    32,
    216,
    32
  ); /*se for de 0 a 50% colocar cor vermelha se não 51 a 100% deixa cor verde*/
}

#score-container #correct-answers {
  font-weight: bold;
  color: rgb(
    32,
    216,
    32
  ); /*se for de 0 a 50% colocar cor vermelha se não 51 a 100% deixa cor verde*/
}

#score-container #questions-qty {
  color: rgb(0, 32, 214);
  font-weight: bold;
}

#restart {
  background: #e78230;
  color: #fff;
  font-weight: bold;
  border: none;
  padding: 14px 16px;
  border-radius: 25px;
  font-size: 16px;
  margin-top: 10px;
  display: block;
  border: 2px solid transparent;
  cursor: pointer;
  text-decoration: none;

  transition: 0.3s;
}

#restart:hover {
  background: transparent;
  border: 2px solid #e78230;
  color: #e78230;
}

/* #region */
#quiz-container {
  width: 480px;
  border: 2px solid #cddde8;
  border-radius: 15px;
  margin: 50px auto;
  padding: 15px;
}

#question {
  text-align: center;
  margin-bottom: 20px;
  font-size: 22px;
}

#question-number {
  font-weight: bold;
}

#answers-box button {
  display: flex;
  align-items: center;
  margin: 15px 0px;
  width: 320px;
  height: 50px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  background-color: #cddde8;
  border: 2px solid transparent;
  text-align: left;
  padding-left: 5px;
  color: #000;

  transition: 0.3s;
}

#answers-box button:hover {
  background-color: #e78230;
  color: #fff;
}

#answers-box .btn-letter {
  font-size: 32px;
  font-weight: bold;
  border-radius: 50%;
  background-color: #e78230;
  color: #fff;
  padding: 2px 8px;
  margin-right: 8px;
  text-transform: uppercase;
}

#quiz-container .wrong-answer,
#quiz-container .wrong-answer .btn-letter {
  background-color: #e62210;
  color: #fff;
}

#quiz-container .correct-answer,
#quiz-container .correct-answer .btn-letter {
  background-color: rgb(32, 216, 32);
  color: #fff;
}

/* PAGINA SELECT */
#text-container {
  margin-bottom: 20px;
}

#score-container-select {
  background-color: #cddde8;
  color: #000;
  text-align: center;
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 20px;
}

#restart-select {
  background: #e78230;
  display: block;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  border: none;
  padding: 14px 16px;
  border-radius: 25px;
  font-size: 16px;
  border: 2px solid transparent;
  margin: 15px auto;
  cursor: pointer;
  width: 240px;

  transition: 0.3s;
}

#restart-select:hover {
  background: transparent;
  border: 2px solid #e78230;
  color: #e78230;
}

/* Pagina de adicionar perguntas */
.voltar {
  margin-top: 20px;
}
#volta img {
  width: 50px;
  margin-left: 20%;
}

#score-container-add .title {
  text-align: center;
  margin-bottom: 18px;
}

#score-container-add {
  background-color: #cddde8;
  color: #000;
  width: 500px;
  margin: 15px auto;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
}

#score-container-add .alternativas {
  margin-bottom: 10px;
}

#score-container-add textarea {
  border: none;
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  width: 100%;
  height: 70px;
  padding-left: 10px;
  border-radius: 8px;
  resize: none;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
  font-size: 15px;
}

#score-container-add .alternativas input {
  width: 375px;
  margin-top: 5px;
  margin-left: 10px;
  height: 35px;
  border: none;
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  padding-left: 10px;
  border-radius: 8px;
  font-size: 15px;
}

#score-container-add .alternativa_correta select {
  width: 100px;
  margin-top: 5px;
  margin-left: 10px;
  height: 35px;
  border: none;
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  padding-left: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  font-size: 15px;
}

#env_pergunta {
  background: #e78230;
  color: #fff;
  font-weight: bold;
  border: none;
  padding: 14px 16px;
  border-radius: 25px;
  font-size: 16px;
  margin-top: 10px;
  border: 2px solid transparent;
  cursor: pointer;

  transition: 0.3s;
}

#env_pergunta:hover {
  background: transparent;
  border: 2px solid #e78230;
  color: #e78230;
}

/* RESPONSIVO */
@media (max-width: 450px) {
  #quiz-container {
    border: none;
    width: 100%;
  }

  #answers-box button {
    width: 100%;
  }
}
